<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site Scanner</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="url vista_nuevo in_software">
<div class="main__container">
<!--Navegación-->
	<nav class="nav">

		<ul>
			<li class="nav__nuevo">Nuevo Análisis</li>
			<li class="nav__consultas">Consultas</li>
			<li class="nav__proximosEscaneos">Próximos escaneos</li>
		</ul>
	</nav>

<!--Nuevo análisis-->
<section class="main__nuevo">
	<h1 class="modulos__titulo">Nuevo Análisis</h1>

	<section class="scan">
		<div class="scan__options-container">
			<div class="scan__options__url">url</div><!--
			--><div class="scan__options__file">file</div>
		</div>
		<input type="text" name="" id="" class="scan__url" placeholder="URL">
		<input type="file" name="" id="" class="scan__file">
		<button type="submit" class="scan__start">Iniciar</button>
	</section>

	<section class="modulos">
		<h1 class="modulos__titulo">Módulos</h1>
	</section>

	<section class="exploits">
		<h1 class="modulos__titulo">Exploits</h1>
		<button class="exploits__add">Agregar</button>
		<div class="exploits__modulo">
			<span class="exploits__nombre">Configuraciones generales</span>
			<div class="exploits__config">
				<div class="exploits__opcion__nombre">Nombre</div>
				<div class="exploits__opcion__descripcion">Nombre para el exploit</div>
				<div class="exploits__opcion__valor"><input type="number"></div>
			</div>
			<div class="exploits__config">
				<div class="exploits__opcion__nombre">Contenido</div>
				<div class="exploits__opcion__descripcion">Ingrese el exploit</div>
				<div class="exploits__opcion__valor"><textarea name="" id="" cols="30" rows="10"></textarea></div>
			</div>
			<div class="exploits__config">
				<div class="exploits__opcion__nombre">Tecnología</div>
				<div class="exploits__opcion__descripcion">python2|python3|sh|ruby</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>
			<div class="exploits__config">
				<div class="exploits__opcion__nombre">CVE</div>
				<div class="exploits__opcion__descripcion">En caso de tener un CVE asociado</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>

			<div class="exploits__options-container">
				<div class="exploits__options__software">Software</div><!--
				--><div class="exploits__options__cms">CMS</div>
			</div>
			
			<div class="exploits__config option__software">
				<div class="exploits__opcion__nombre">Nombre del Software</div>
				<div class="exploits__opcion__descripcion">Especifique el software</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>
			<div class="exploits__config option__software">
				<div class="exploits__opcion__nombre">Versión</div>
				<div class="exploits__opcion__descripcion">Especifique la versión</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>

			<div class="exploits__config option__cms">
				<div class="exploits__opcion__nombre">Nombre del CMS</div>
				<div class="exploits__opcion__descripcion">Especifique el CMS</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>
			<div class="exploits__config option__cms">
				<div class="exploits__opcion__nombre">Categoría</div>
				<div class="exploits__opcion__descripcion">Especifique la categoría</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>
			<div class="exploits__config option__cms">
				<div class="exploits__opcion__nombre">Extensión</div>
				<div class="exploits__opcion__descripcion">Especifique la extensión</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>
			<div class="exploits__config option__cms">
				<div class="exploits__opcion__nombre">Versión</div>
				<div class="exploits__opcion__descripcion">Especifique la versión</div>
				<div class="exploits__opcion__valor"><input type="text"></div>
			</div>
			
		</div>
	</section>

	<section class="programar">
		<h1 class="programar__titulo">
			Programar escaneo
		</h1>
		<input type="date" id="next_scan" name="trip-start" max="2050-12-31">
	</section>
</section>


<!--Consultas-->
<section class="main__consultas">
	<h1 class="modulos__titulo">Consultas</h1>
	<section class="consultas">
		<div class="consultas__analizados">
			<h1 class="consultas__analizados__titulo">
				Sitios Analizados
			</h1>
			<h2 class="consultas__analizados__numero">
				17
			</h2>
		</div>

		<div class="consultas__vulnes">
			<h1 class="consultas__vulnes__titulo">
				Vulnerabilidades encontradas
			</h1>
			<h2 class="consultas__vulnes__numero">
				2
			</h2>
		</div>
		<div class="consultas__fecha">
			<h1 class="consultas__fecha__titulo">
				Último Análisis
			</h1>
			<h2 class="consultas__fecha__fecha">
				12/01/2021
			</h2>
		</div>

		<div class="consultas__opciones">
			<button class="consultas__opciones__actuales">
				Actuales
			</button>
			<select class="modulos__select"></select>
			<button class="consultas__opciones__proximo">
				Buscar
			</button>
		</div>

		<div class="consultas__filtros">
			Filtros
		</div>

		<div class="consultas__contenidor__sitio">
			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>

			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>


			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>

			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>
		</div>
			
	</section>
</section>
<!--Próximos escaneos-->
<section class="main__proximosEscaneos">
	<h1 class="modulos__titulo">Próximos escaneos</h1>
	<div class="main__proximosEscaneos__contenedor">
		<div class="main__proximosEscaneos__fecha">
			Fecha
		</div>
		<div class="main__proximosEscaneos__sitio">
			Sitio
		</div>
		<span class="main__proximosEscaneos__fecha">
			22/03/2021
		</span>
		<span class="main__proximosEscaneos__sitio">
			www.test.com
		</span>
	</div>
</section>
<!--Footer-->
<footer>
	<div class="footer__copy">
		Copyright © 2021, UNAM-CERT
	</div>
	<script src="../static/js/scripts.js"></script>
</footer>

</div>
</body>
</html>