<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site Scanner</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="url vista_nuevo">
<div class="main__container">
<!--Navegación-->
	<nav class="nav">

		<ul>
			<li class="nav__nuevo">Nuevo Análisis</li>
			<li class="nav__consultas">Consultas</li>
			<li class="nav__configuraciones">Configuraciones</li>
		</ul>
	</nav>

<!--Nuevo análisis-->
<section class="main__nuevo">
	<section class="scan">
		<div class="scan__options-container">
			<div class="scan__options__url">url</div><!--
			--><div class="scan__options__file">file</div>
		</div>
		<input type="text" name="" id="" class="scan__url" placeholder="URL">
		<input type="file" name="" id="" class="scan__file">
		<button type="submit" class="scan__start">Iniciar</button>
	</section>

	<section class="modulos">
		<h1 class="modulos__titulo">Módulos</h1>
		<div class="modulos__seleccionar-perfil">Seleccionar perfil</div>
		<select class="modulos__select">
			<option value="0">Select car:</option>
			<option value="1">Audi</option>
			<option value="2">BMW</option>
			<option value="3">Citroen</option>
			<option value="4">Ford</option>
			<option value="5">Honda</option>
			<option value="6">Jaguar</option>
			<option value="7">Land Rover</option>
			<option value="8">Mercedes</option>
			<option value="9">Mini</option>
			<option value="10">Nissan</option>
		</select>

		<div class="modulos__modulo">
			<label class="modulos__switch">
				<input type="checkbox" class="modulos__checkbox">
				<span class="modulos__slider modulos__round"></span>
			</label>
			<div class="modulos__nombre">Nombre</div>
		</div>

		<div class="modulos__modulo">
			<label class="modulos__switch">
				<input type="checkbox" class="modulos__checkbox">
				<span class="modulos__slider modulos__round"></span>
			</label>
			<span class="modulos__nombre">Nombre</span>
			<div class="modulos__config">
				<div class="modulos__opcion__nombre">Nombre de la opción</div>
				<div class="modulos__opcion__descripcion">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum lorem ut sem sagittis vulputate. Sed aliquet, neque placerat varius mollis, leo arcu fringilla magna, sit amet sollicitudin eros sapien a purus. Ut consequat mollis arcu, a feugiat nulla efficitur eget. Donec id ante sed sem egestas euismod. 
				</div>
				<div class="modulos__opcion__valor">
					Valor
				</div>
			</div>
		</div>
	</section>

	<section class="programar">
		<h1 class="programar__titulo">
			Programar escaneo
		</h1>
		<span style="font-size: 5em; margin:20px auto; width: 100%;">`¯\_(ツ)_/¯`</span>
	</section>
</section>


<!--Consultas-->
<section class="main__consultas">
	<section class="consultas">
		<div class="consultas__analizados">
			<h1 class="consultas__analizados__titulo">
				Sitios Analizados
			</h1>
			<h2 class="consultas__analizados__numero">
				17
			</h2>
		</div>

		<div class="consultas__vulnes">
			<h1 class="consultas__vulnes__titulo">
				Vulnerabilidades encontradas
			</h1>
			<h2 class="consultas__vulnes__numero">
				2
			</h2>
		</div>

		<div class="consultas__fecha">
			<h1 class="consultas__fecha__titulo">
				Último Análisis
			</h1>
			<h2 class="consultas__fecha__fecha">
				12/01/2021
			</h2>
		</div>

		<div class="consultas__opciones">
			<button class="consultas__opciones__actuales">
				Actuales
			</button>
			<button class="consultas__opciones__proximo">
				Próximos escaneos
			</button>
		</div>

		<div class="consultas__filtros">
			Filtros
		</div>

		<div class="consultas__contenidor__sitio">
			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>

			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>


			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>

			<div class="consultas__sitio">
				<div class="consultas__sitio__url">
					<span>www.site.com</span>
				</div>
				<div class="consultas__sitio__fecha">
					Último escaneo: <span>15/03/2021</span>
				</div>
				<div class="consultas__sitio__escaneos">
					Escaneos: <span>12</span>
				</div>
				<div class="consultas__sitio__vulnerabilidades">
					Vulnerabilidades: <span>1</span>
				</div>
				<div class="consultas__sitio__proximoScan">
					Próximo escaneo: <span>12/01/21</span>
				</div>
				<div class="consultas__sitio__opciones">
					<button>Ver más</button>
					<button>Borrar</button>
				</div>
			</div>
		</div>
			
	</section>
</section>
<!--Configuraciones-->
<section class="main__configuraciones">

</section>
<!--Footer-->
<footer>
	<div class="footer__copy">
		Copyright © 2021, UNAM-CERT
	</div>
	<script src="../static/js/scripts.js"></script>
</footer>

</div>
</body>
</html>